<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/library.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{64}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{64}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.springframework" level="INFO"/>

    <logger name="pl.dimirhouse" level="INFO"/>
    <logger name="pl.dimirhouse.games.shop.web.controller" level="DEBUG"/>

    <root>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>